* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Francois One', 'Bayon';
}

body {
    font-family: "Poppins", sans-serif;
    font-family: "Noto Sans Khmer", sans-serif;
    font-family: 'Francois One', 'Bayon';
}

header {
    height: 70px;
    width: 100%;
    background-color: #008dda;
}

header .navbar-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    height: 100px;
}

header .container {
    width: 90%;
    margin: auto;
}

header .container .nabvar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .nabvar .navbar-logo {
    font-size: 25px;
    line-height: 70px;
    width: 100px;
    height: 110px;
    font-weight: 700;
    /* background-color: red; */
    color: #f7eedd;
    text-decoration: none;
}

.navbar-logo img {
    width: 100%;

}

header .container .nabvar .navbar-nav {
    display: flex;
    list-style: none;
}

header .container .nabvar .navbar-nav .nav-item .nav-link {
    color: #f7eedd;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    transition: 0.5s;
}

.navbar-search input {
    height: 30px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
}

.nav-account .account-btn {
    color: #f7eedd;
    text-decoration: none;
    font-size: 16px;
}

.nabvar .navbar-nav .nav-item .nav-link {
    display: block;
    position: relative;
}

.nabvar .navbar-nav .nav-item .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.nabvar .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
}

p {
    display: none;
    position: absolute;
    top: 65px;
    color: #008dda;
    width: 100px;
    left: 8px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.5s;
    z-index: 1;
}

.nabvar .navbar-nav .nav-item:hover p {
    display: block;
    transition: 0.5s;
}

.nav-account .account-btn {
    position: relative;
}

.nav-account .account-dropdown {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    transition: 0.5s;
}

.nav-account .account-dropdown ul {
    list-style: none;
    position: absolute;
    top: 70px;
    right: 0px;
    width: 200px;
    line-height: 40px;
    background-color: #008dda;
    height: 80px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    display: none;
    transition: 0.5s;
}

.nav-account {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-account:hover .account-dropdown ul {
    display: block;
    position: absolute;
    z-index: 1;
}

.nav-account .account-dropdown ul a {
    color: #f7eedd;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}

.nav-account .account-dropdown ul li:hover {
    background-color: #41c9e2;
    color: #008dda;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    border-radius: 5px;
}






.news-title ul {
	list-style: none;
	margin: 0;
	padding: 0;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    font-size: 50px;
}

.news-title a {
	color: inherit;
	text-decoration: none;
}

/* Underline styles */
.news-title a {
	display: block;
	position: relative;
	padding: 0.01em 0;
}

/* Fade in */
.news-title a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.08em;
	background-color: #008dda;
	opacity: 0;
	transition: opacity 200ms, transform 300ms;
}

.news-title a:hover::after,
a:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

.news-title  li:nth-child(2) a {
	overflow: hidden;
}

.news-title  li:nth-child(2) a::after {
	opacity :1;
	transform: translate3d(-100%, 0, 0);
}

.news-title  li:nth-child(2) a:hover::after,
.news-title  li:nth-child(2) a:focus::after{
	transform: translate3d(0, 0, 0);
}

/* Scale from center */
.news-title  li:nth-child(3) a::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.news-title  li:nth-child(3) a:hover::after,
.news-title li:nth-child(3) a:focus::after{
	transform: scale(1);
}
.news-title h1{
    padding: 0 20px;
    font-size: 28px;
}
.news-title h3{
    padding: 0 50px;
    text-align: left;
    justify-content: left;
    width: 820px;
}
.dis-detail{
    display: flex;
}
.img-hotel img{
    width: 82%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 750px;
    height: 400px;
}





/* footer */
.row{
    display: flex;
    flex-wrap: wrap;
  }
  .container-foter{
    max-width: 1170px;
    margin:auto;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color:#008eda;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
  color: #F7EEDD !important;
    text-decoration: none;
    font-weight: 300;
    
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
